<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Product List</title>
</head>
<body>
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><center>Product  List!!</center></h3>
                    <center>
                   </center>
                </div>
                <div class="panel-body">

                            <center>

                               <table cellpadding="3" cellspacing="8" border="1">
                                <tr>
                                    <th>databases</th>
                                    <th>product name</th>
                                    <th>product category</th>

                                </tr>
                                {% for db in products %}
                                    {% for name, item in db.items %}
                                       {% for value in item %}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{value.name}}</td>
                                            <td>{{value.category}}</td>
                                        </tr>
                                   {% endfor %}
                                   {% endfor %}
                                {% endfor %}
                                </table>
                          </center>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>

{% endblock %}

</body>
</html>